*{
    margin: 0;
    padding: 0;
}

.padre{
    width: 100px;
    height: auto;
    background-color: red;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
.hijo{
    display: block;
    width: 150%;
    background-color: aqua;
    padding: 10px;
    transition: 0.3s;
    display: none;
    cursor: pointer;
    color: black;
    text-align: start;
}


.padre:hover .hijo{
    transition: 0.3s;
    display: block;
}


.hijo:hover{
    background-color:orange;
}

.hijo:hover span{
    margin-left: 25px;
    display: inline;
    transition: 0.5s;

}

span{
    display: none;
    transition: 0.3s;
}

      
