*{
    margin: 0;
    padding: 0;
}

.bodyInicio{

    background-image: url(../imagenes/fondoGlosario.jpg);
    background-repeat: no-repeat;
    background-position: center;
   background-size:auto;
}

.main_inicio{
    height: auto;
    margin: auto;
}

.contenedor_bienvenida{
    width: 80%;
    margin: 20px auto;
    height: auto;
    text-align: center;
}

.titulo_inicio{
    margin: 20px auto;
    font-size: 40px;
    text-decoration: underline solid black 5px;
}

.textos_bienvenida{
    color: black;
    font-weight: lighter;
}

.btn1{
    display:inline-block;
    background-color:white;
    width: 90px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
}
.btn1:hover{
    background-color: grey;
}