*{
    margin: 0;
    padding: 0;
}

.bodyInicio{
    background: hsla(2, 65%, 44%, 0.699);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 80%, 42%, 0.534), hsla(2, 65%, 44%, 0.671)); 
    background: linear-gradient(to right, hsla(212, 80%, 42%, 0.616), hsla(2, 65%, 44%, 0.525));  
    background-image: url(../imagenes/imagen_inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    


}

.main_inicio{
    height: auto;
    margin: auto;
}

.contenedor_bienvenida{
    width: 80%;
    margin: 20px auto;
    height: auto;
    text-align: center;
}

.titulo_inicio{
    margin: 20px auto;
    font-size: 40px;
  
    color: white;
}

.subtitulo_inicio{
    font-size: 30px;
    color: white;

}

.btn1{
    display:inline-block;
    background-color:white;
    width: 90px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    margin-top: 10px;
}
.btn1:hover{
    background-color: grey;
}