*{
    margin: 0;
    padding: 0;
}

.main_inicio{
    height: auto;
    margin: auto;
}

.contenedor_bienvenida{
    width: 80%;
    margin: 20px auto;
    height: auto;
    text-align: center;
}

.titulo_inicio{
    margin: 20px auto;
    font-size: 40px;
    text-decoration: underline solid black 5px;
}

.textos_bienvenida{
    color: black;
    font-weight: lighter;
}